body {
    margin: 0px;
    padding: 0px;
}

header {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
}

.salt-logo {
    width: 165px;
}

/* ul>li {
    display: inline-block;
    padding: 15px;
} */

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    padding: 0px;
}

.redbutton {
    border-radius: 35px;
    border: 1px solid #ed1c24;
    background-color: #ed1c24;
    color: white;
    width: 150px;
    height: 55px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    position: absolute;
    background-image: url(./images/arrow-icon.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 110px;
}

.img {
    padding-left: 0px;
    padding-right: 250px;
}

.label {
    padding-right: 25px;
}


.whitebutton {
    border-radius: 35px;
    border: 1px solid white;
    background-color: black;
    color: white;
    width: 130px;
    height: 55px;
    /* margin-left: 10px;
    margin-right: 10px; */
}

.arrow-icon {
    width: 27px;
    padding-left: 10px;
}

.dinner {
   background-image: url(https://static.tossdown.com/images/5937a4af-f437-4646-a8c2-ccd4b9a2d5cf.webp);
    background-size: cover;
    width: 100%;
    height: 80vh;;
}

.saltnpepper {
    font-family: 'Cormorant', serif;
    font-size: 52px;
    
}

.black {
    font-family: Times, serif;
    font-size: 45px;
    background-color: black;
    color: white;
    text-align: center;
}

.small {
    font-size: 15px;
    color: rgb(195, 195, 195);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 0px;
}

.inlin-block1 {
    width: 250px;
    height: 125px;
    border-radius: 3px;
    background-color: white;
    display: inline-block;
    background-image: url(https://static.tossdown.com/site/8a66dd76-03d2-4b71-8d03-cf045f0248a7.webp);
    background-repeat: no-repeat;
    background-size: contain;
}


.inlin-block2 {
    width: 250px;
    height: 125px;
    border-radius: 3px;
    background-color: white;
    display: inline-block;
    background-image: url(https://static.tossdown.com/site/9d9cb355-ac8c-404e-a608-c28242343cd1.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.inlin-block3 {
    width: 250px;
    height: 125px;
    border-radius: 3px;
    background-color: white;
    display: inline-block;
    background-image: url(https://static.tossdown.com/site/f9238d0e-7c34-4139-a081-c57b7713628e.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.white {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.button-div {
    display: flex;
    justify-content: end;
    /* flex-direction: column; */
    gap: 10px;
    flex-wrap: wrap;
    /* width: 350px; */
}

